Подтверждение регистрации на сайте!

<p>Для завершения процесса регистрации подтвердите ваш адрес электронной почты, щелкнув по ссылке ниже:
    <a href="{{ confirmationUrl }}"> Подтвердить адрес электронной почты</a>.
</p>
{% if password is defined and password %}
	<p>Пароль для входа в личный кабинет: <b>{{ password }}</b></p>
{% endif %}
<p>
    Эта ссылка может быть использована только единожды для подтверждения вашей
    учетной записи.
</p>
