<title>{{ seo is defined ? seo.title|default('Bueling') : 'Bueling' }}</title>
<meta name="keywords" content="{{ seo is defined ? seo.metaKeyword|default('') }}"/>
<meta name="description" content="{{ seo is defined ? seo.metaDescription|default('') }}"/>