{% if breadcrumbs is defined and breadcrumbs|length > 0 %}
    <div class="container">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list" itemscope itemtype="http://schema.org/BreadcrumbList">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb['url'] }}">
                            <span itemprop="name">
                                {{ breadcrumb.title }}
                            </span>
                            {% if not loop.last %}
                                <svg class="svg-icon breadcrumbs--icon">
                                    <use xlink:href="{{ asset('build/frontend/img/icons/svg/sprite.symbol.svg') }}#arrow-right" />
                                </svg>
                            {% endif %}
                        </a>
                        <meta itemprop="position" content="{{ loop.index }}" />
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}