{% extends 'base.html.twig' %}

{% block main %}
    <section class="Pt(10rem)--lg Pt(5rem)--xs-lg">
        <div class="container">
            {{ page.translate.description|raw }}
        </div>
    </section>
{% endblock %}