{% trans_default_domain 'FrontendBundle' %}
<h2 class="h2 h2--left Mt(1rem)">{{ 'blog.categories_title'|trans }}</h2>
<div class="links">
    <ul class="links__list">
        {% for item in categories %}
            <li class="links__item">
                <a class="links__link" href="{{ path('frontend_news_category_show', {category: item.translate.slug}) }}">
                    {{ item.translate.title }}<small>({{ item.news|length }})</small>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>