{% trans_default_domain 'FrontendBundle' %}
{% extends 'base.html.twig' %}

{% block main %}
    <section class="Pt(10rem)--lg Pt(5rem)--xs-lg Pb(0)">
    </section>
    <section>
        <div class="container Ta(c) Ml(a)--lg Mr(a)--lg W(50%)--lg W(95%)--xl-lg">
            <h1 class="h2">Ошибка 404</h1>
            <p class="Mb(2rem) Mt(2rem) supplementary-text">Страница, которую вы пытаетесь получить, не существует или
                была перемещена. Попытайтесь вернуться на нашу домашнюю страницу.</p>
        </div>
    </section>
{% endblock %}