<div class="col-md-10">
    {{ form_widget(form.productAttribute) }}
    <div class="row">
    	<div class="col-sm-10">
    		{{ form_widget(form.translations) }}
    	</div>
    	<div class="col-sm-2">
    		<a title="Удалить Значение" href="javascript:void(0);" class="btn-sm btn btn-outline-danger btn--icon clear-group-attr-value"> <i class="la la-trash-o"></i></a>
    	</div>
    </div>
</div>