{% trans_default_domain 'FrontendBundle' %}

<table style="Margin:0 auto;border-collapse:collapse;margin:0 auto;padding:0;width:650px" align="center">
  <tbody>
    <tr>
      <td style="Margin:0;margin:0;padding:0">
        <table style="border-collapse:collapse;display:table;padding:0;width:100%">
          <tbody>
            <tr>
              <td style="line-height:16px;height:16px;padding:0" height="16">&nbsp;</td>
            </tr>
             <tr>
              <td style="Margin:0;margin:0;padding:0">
                <table style="border-collapse:collapse;margin:0 auto;padding:0;width:650px" align="center">
                  <tbody>
                    <tr>
                      <td style="Margin:0;margin:0;padding:0 16px;padding-left:0px;">
                        <table style="border-collapse:collapse;display:table;padding:0;width:100%">
                          <tbody>
                            <tr>
                               <th style="Margin:0 auto;margin:0 auto;padding:0;width:237px;text-align:center"> <a href="{{ absolute_url(path('frontend_homepage')) }}" title="Bueling" style="color:#ff7878;font-family:Arial,Helvetica,sans-serif;font-size:14px;Margin:0;margin:0;padding:0" target="_blank">
                                <img src="{{ absolute_url(asset('build/frontend/img/logo.svg')) }}" alt="Bueling" style="display:block;margin:0 auto;max-width:237px;width:auto" width="237" height="40" border="0" class="CToWUd"> </a> </th>
                              
                               <th style="Margin:0 auto;margin:0 auto;padding:0;padding-left:24px;text-align:right">
                                <table style="border-collapse:collapse;padding:0;width:100%">
                                  <tbody>
                                    <tr>
                                      <th style="Margin:0;margin:0;padding:0;text-align:right">
                                        <span style="text-align:center;vertical-align:middle;border-radius:4px;background-color:#000000;display:inline-block">
                                          <a href="{{ absolute_url(path('frontend_homepage')) }}" style="color:#fff;font-size:16px;font-weight:400;text-decoration:none;line-height:40px;display:inline-block;padding:0 16px;font-family:Arial,Helvetica,sans-serif" target="_blank">{{ 'mail.button_link'|trans }}</a>
                                        </span>
                                      </th>
                                    </tr>
                                  </tbody>
                                </table>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
             <tr>
              <td style="line-height:16px;height:16px;padding:0" height="16">&nbsp;</td>
            </tr>
             <tr>
              <td style="Margin:0;margin:0;padding:0">
                <table style="font-family:Arial,Helvetica,sans-serif;border-collapse:collapse;margin:0;padding:0;width:650px;min-height:500px">
                  <tbody>
                    <tr>
                      <td style="Margin:0;margin:0;padding:0;vertical-align:top">
                        <table style="border-collapse:collapse;display:table;padding:0;width:100%">
                           <tbody>
                            <tr>
                              <td style="line-height:10px;height:20px" height="20">&nbsp;</td>
                            </tr>
                            <tr>
                              <td style="line-height:16px;height:16px;padding:0 30px" height="16"> <br>
                              </td>
                            </tr>
                            <tr>
                              <td style="width:640px;vertical-align:top">
                                <table style="border-collapse:collapse;width:100%" cellspacing="0" cellpadding="0">
                                  <tbody>