{% include('mail/_header.html.twig') %}

  <tr>
    <td style="padding:25px 30px 32px 27px;vertical-align:top;border-bottom:1px solid #cccccc">
      <p>Здравствуйте, {{ username }}.</p>

      <p><b>На нашем сайте были технические неполадки, из-за которых не приходило письмо со ссылкой для активации аккаунта.</b></p>

      <p>Приносим свои извинения за причинённые неудобства. Все ошибки уже устранены.</p>

      <p>Напоминаем, что Вам установлена специальная цена на все наши товары.</p>

      <p><b>Чтобы воспользоваться скидкой, подтвердите Ваш email, нажав на эту ссылку:</b> <a href="{{ link }}">{{ link }}</a></p>
      <p><b>Пароль для входа в учетную запись:</b> {{ pass }}</p>

      <p>Пароль Вы можете потом изменить в личном кабинете.</p>
      
      <p>Если Вы не заинтересованы в получении скидки, просто проигнорируйте это письмо.</p>

      <p>Хороших Вам продаж!</p>

      <p>С уважением, команда My Print</p>
      
      <p>www.myprint.ua</p>
    </td>
  </tr>

{% include('mail/_footer.html.twig') %}